# Supabase connection details
NEXT_PUBLIC_SUPABASE_URL=https://allgmucnuzdukwuiqlsm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFsbGdtdWNudXpkdWt3dWlxbHNtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQ5NTQzODcsImV4cCI6MjA2MDUzMDM4N30.5zaJcRkBJtKh9880damLXaM-BfivDZNkQM7S-YDiaw8

# Rename this file to .env.local to use these credentials
